---
layout: default
title: بایگانی وبلاگ
permalink: /all-posts.html
---

<div class="archive-page">
  <h1 class="page-heading">بایگانی نوشته‌ها</h1>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <div class="year-section">
      <h2 class="year-title">{{ year.name }}</h2>
      <ul class="post-list-archive">
        {% for post in year.items %}
          <li>
            <span class="post-date">{{ post.date | date: "%Y/%m/%d" }}</span>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {% if post.title and post.title != "" %}
                {{ post.title }}
              {% else %}
                نوشته‌ی بدون عنوان
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
