---
layout: page
title: همه پست‌ها
permalink: /all-posts.html
---

<h1>آرشیو کامل پست‌ها</h1>

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
  <h2>{{ year.name }}</h2>
  <ul>
    {% for post in year.items %}
      <li>
        <a href="{{ post.url | relative_url }}">
          {% if post.title and post.title != "" and post.title != "post" and post.title != "Untitled Post" %}
            {{ post.title }}
          {% else %}
            پست بدون عنوان - {{ post.date | date: "%Y/%m/%d" }}
          {% endif %}
        </a>
        <small>({{ post.date | date: "%Y/%m/%d" }})</small>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
