<header class="site-header">
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      {{ site.title | default: "گاه‌نوشت‌های یک زریر" }}
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/' | relative_url }}">خانه</a>
		<a class="page-link" href="{{ '/all-posts.html' | relative_url }}">بایگانی</a>
		<a class="page-link" href="{{ '/contact/' | relative_url }}">تماس</a>
      </div>
    </nav>
  </div>
</header>
